*{
	margin: 0;
	padding: 0;
}
body{
	background: #eeeeee;
}
.container{
	width: 960px;
	height: 600px;
	margin: 50px auto;
	position: relative;
}
.pic{
	width: 180px;
}
.container img:hover{
	box-shadow: 10px 10px 15px rgba(50,50,50,0.4);
	transform: rotate(0deg) scale(1.20);
	-webkit-transform: rotate(0deg) scale(1.20);
	z-index: 2;
}
.container img{
	padding: 10px 10px 15px;
	background: white;
	border: 1px solid #ddd;
	box-shadow: 2px 2px 3px rgba(50,50,50,0.4);
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	position: absolute;
	z-index: 1;
}
.pic1{
	left: 350px;
	top: 150px;
	transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
}
.pic2{
	left: 300px;
	top: 100px;
	transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
}
.pic3{
	left: 220px;
	top: 50px;
	transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
}
.pic4{
	left: 150px;
	top: 50px;
	transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
}
.pic5{
	left: 100px;
	top: 70px;`
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
}
.pic6{
	left: 50px;
	top: 120px;
	transform: rotate(-35deg);
	-webkit-transform: rotate(-35deg);
}
.pic7{
	left: 50px;
	top: 220px;
	transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
}
.pic8{
	bottom: 150px;
	left: 120px;
	transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
}
.pic9{
	bottom: 90px;
	left: 180px;
	transform: rotate(25deg);
	-webkit-transform: rotate(25deg);
}
.pic10{
	bottom: -20px;
	left: 300px;
	transform: rotate(100deg);
	-webkit-transform: rotate(100deg);
}
.pic11{
	bottom: -20px;
	right: 330px;
	transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
}
.pic12{
	bottom: 35px;
	right: 220px;
	transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
}
.pic13{
	bottom: 100px;
	right: 180px;
	transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
}
.pic14{
	bottom: 180px;
	right: 160px;
	transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
}
.pic15{
	bottom: 240px;
	right: 140px;
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}
.pic16{
	bottom: 280px;
	right: 100px;
	transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
}
.pic17{
	bottom: 350px;
	right: 100px;
	transform: rotate(-35deg);
	-webkit-transform: rotate(-35deg);
}
.pic18{
	bottom: 320px;
	right: 240px;
	transform: rotate(27deg);
	-webkit-transform: rotate(27deg);
}
.pic19{
	bottom: 320px;
	right: 280px;
	transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
}
.pic20{
	bottom: 280px;
	right: 2200px;
	transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
}